<template>
    <lightning-card title= "Drag and Drop">
        <lightning-layout>
            <div class = "slds-m-vertical_medium">
                    <div class = "dragAndDrop" id = "Box1" ondragover = {allowDrop} ondrop = {drop}>
                        <template for:each = {items1} for:item="item1">
                            <div key = {item1} id={item1} draggable = "true" ondragstart = {dragStart}>{item1}<lightning-button-icon icon-name="utility:close"  onclick={onclick}></lightning-button-icon></div>
                        </template>
                    </div>
                    <div class = "dragAndDrop" id = "Box2" ondragover = {allowDrop} ondrop = {drop}>
                        <template for:each={items2} for:item = "item2">
                            <div key = {item2} id={item2} draggable = "true" ondragstart = {dragStart}> {item2}<lightning-button-icon icon-name="utility:close"  onclick={onclick}></lightning-button-icon></div>
                        </template>
                    </div>
            </div>
        </lightning-layout>
    </lightning-card>
</template>